# EdgeTX and OpenTX radio controllers in gamepad or joystick mode
KERNEL=="hidraw*", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="4f54", MODE="0660" TAG+="uaccess"
