# 8BitDo Generic Device
## This rule applies to many 8BitDo devices.
ACTION!="remove", SUBSYSTEM=="usb", ATTR{idProduct}=="3106", ATTR{idVendor}=="2dc8", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo F30 P1
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo FC30 GamePad", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo F30 P2
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo FC30 II", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo N30
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo NES30 GamePad", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo SF30
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo SFC30 GamePad", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo SN30
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo SNES30 GamePad", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo F30 Pro
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo FC30 Pro", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo N30 Pro
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo NES30 Pro", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo SF30 Pro
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo SF30 Pro", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo SN30 Pro
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo SN30 Pro", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo SN30 Pro+; Bluetooth; USB
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8BitDo SN30 Pro+", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo SF30 Pro   8BitDo SN30 Pro+", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo F30 Arcade
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo Joy", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo N30 Arcade
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo NES30 Arcade", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo ZERO
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo Zero GamePad", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo Retro-Bit xRB8-64
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8Bitdo N64 GamePad", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo Pro 2; Bluetooth; USB
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8BitDo Pro 2", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"
ACTION!="remove", SUBSYSTEM=="input", ATTR{id/vendor}=="2dc8", ATTR{id/product}=="6006", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"
ACTION!="remove", SUBSYSTEM=="input", ATTR{id/vendor}=="2dc8", ATTR{id/product}=="6003", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo Pro 2 Wired; USB
# X-mode uses the 8BitDo Generic Device rule
# B-Mode
ACTION!="remove", SUBSYSTEM=="usb", ATTR{idProduct}=="3010", ATTR{idVendor}=="2dc8", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"
ACTION!="remove", SUBSYSTEMS=="input", ATTRS{id/product}=="3010", ATTRS{id/vendor}=="2dc8", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo Pro 3; Bluetooth; USB/2.4Ghz
# D-Mode
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8BitDo Pro 3", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"
ACTION!="remove", SUBSYSTEM=="input", ATTR{id/vendor}=="2dc8", ATTR{id/product}=="6009", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo Ultimate Wired Controller for Xbox; USB
ACTION!="remove", SUBSYSTEM=="usb", ATTR{idProduct}=="2003", ATTR{idVendor}=="2dc8", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo Ultimate 2.4G Wireless  Controller; USB/2.4GHz
# X-mode uses the 8BitDo Generic Device rule
# D-mode
ACTION!="remove", SUBSYSTEM=="usb", ATTR{idProduct}=="3012", ATTR{idVendor}=="2dc8", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo Ultimate 2C Wireless Controller; USB/2.4GHz
ACTION!="remove", SUBSYSTEM=="usb", ATTR{idProduct}=="310a", ATTR{idVendor}=="2dc8", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo Arcade Stick; Bluetooth (X-mode)
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8BitDo Arcade Stick", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"

# 8BitDo Ultimate 2 Wireless; Bluetooth; USB/2.4GHz
ACTION!="remove", SUBSYSTEM=="input", ATTRS{name}=="8BitDo Ultimate 2 Wireless", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"
ACTION!="remove", SUBSYSTEM=="usb", ATTR{idProduct}=="310b", ATTR{idVendor}=="2dc8", ENV{ID_INPUT_JOYSTICK}="1", TAG+="uaccess"
